{% extends 'base.html.twig' %}

{% block title %}
	Connexion
{% endblock %}

{% block body %}

	<form method="post" action="/login">

		{% if app.user %}

			<div class="fr-notice fr-notice--info fr-mt-2w">
				<div class="fr-container container">
					<div class="fr-notice__body">
						<p>
							<span class="fr-notice__title">
								Vous êtes connecté en tant que
								{{ app.user.userIdentifier }}
							</span>
							<span class="fr-notice__desc">
								Cliquez sur le lien ci-contre pour vous
							</span>
							<a href="{{ path('app_logout') }}" target="_self" title="Se déconnecter - retour à la page d'accueil" class="fr-notice__link">
								déconnecter et revenir à la page d'accueil.
							</a>
						</p>
						<button title="Masquer le message" onclick="const notice = this.parentNode.parentNode.parentNode; notice.parentNode.removeChild(notice)" class="fr-btn--close fr-btn">
							Masquer le message
						</button>
					</div>
				</div>
			</div>

		{% endif %}

		{% if error %}
			<div class="fr-alert fr-alert--error fr-mt-2w" role="alert">
				{{ error.messageKey|trans(error.messageData, 'security') }}
			</div>
		{% endif %}

		<div class="fr-grid-row grid row">

			<div class="fr-mt-2w fr-col-8 fr-col-offset-2 col s8 offset-s2">

				<h2 class="fr-h2 fr-mt-2w">Connexion</h2>

				<div class="fr-input-group">

					<label class="fr-label" for="username">
						Login
					</label>
					<input type="text" value="{{ last_username }}" name="_username" id="username" class="fr-input form-control" autocomplete="username" required autofocus>
				</div>

				<div class="fr-input-group">

					<label class="fr-label" for="password">
						Mot de passe
					</label>
					<input type="password" name="_password" id="password" class="fr-input form-control" autocomplete="current-password" required>
					<input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

				</div>

				<fieldset class="fr-fieldset fr-mt-2w" id="checkboxes" aria-labelledby="checkboxes-legend checkboxes-messages">
					<legend class="fr-fieldset__legend--regular fr-fieldset__legend" id="checkboxes-legend">
						Si vous souhaitez rester connecter à ce site après la fermeture de la fenêtre, cochez la case.
					</legend>
					<div class="fr-fieldset__element">
						<div class="fr-checkbox-group">
							<input name="_remember_me" id="_remember_me" type="checkbox" aria-describedby="_remember_me-messages">
							<label class="fr-label" for="_remember_me">
								Se souvenir de moi
							</label>
							<div class="fr-messages-group" id="_remember_me-messages" aria-live="assertive"></div>
						</div>
					</div>
				</fieldset>

				<button class="fr-btn fr-btn--tertiary fr-mt-4w" type="submit">
					C'est parti!
				</button>

			</div>

		</div>

	</form>
{% endblock %}
