{% extends 'base.html.twig' %}

{% block title %}
    Ajout d'utilisateur
{% endblock %}

{% block body %}

    {% if app.user %}

        <div class="fr-notice fr-notice--info fr-mt-2w">
            <div class="fr-container">
                <div class="fr-notice__body">
                    <p>
                        <span class="fr-notice__title">
                            Vous êtes connecté en tant que
                            {{ app.user.userIdentifier }}
                        </span>
                        <span class="fr-notice__desc">
                            Vous êtes autorisé à inscrire de nouveaux utilisateurs.
                        </span>
                    </p>
                    <button title="Masquer le message" onclick="const notice = this.parentNode.parentNode.parentNode; notice.parentNode.removeChild(notice)" class="fr-btn--close fr-btn">
                        Masquer le message
                    </button>
                </div>
            </div>
        </div>

        {{ form_errors(form) }}

        <div class="fr-grid-row">

            <div class="fr-mt-2w fr-col-8 fr-col-offset-2">

                <h2 class="fr-h2 fr-mt-2w">
                    Ajout d'utilisateur
                </h2>

                <p>
                    Vous pouvez créer un utilisateur en remplissant le formulaire ci-dessous.
                    <br>
                        Le login doit être de la forme "prenom.nom" (ex: "jean.dupont").
                    </p>

                    {{ form_start(form) }}

                    {{ form_row(form.login) }}

                    {{ form_row(form.password, {
            label: 'Mot de passe',
            type: 'password',
            attr: {
                class: 'fr-input',
                autocomplete: 'new-password',
                required: true,
                min:8,
                title: 'Le mot de passe doit contenir au moins 8 caractères, une majuscule, une minuscule et un nombre.'
            }
        }) }}

                    <button type="submit" class="fr-btn fr-btn--icon-left fr-icon-add-line fr-mt-4w">
                        Enregister
                    </button>
                    {{ form_end(form) }}

                </div>
            </div>

        {% else %}

            <div class="fr-alert fr-alert--error fr-mt-2w">
                <h3 class="fr-alert__title">
                    Vous n'êtes pas connecté.
                </h3>
                <p>
                    Vous devez
                    <a href="{{ path('app_login') }}" target="_self" title="Se connecter" class="fr-notice__link">
                        vous connecter
                    </a>
                    au préalable pour inscrire de nouveaux utilisateurs.
                </p>
            </div>

        {% endif %}

    {% endblock %}
    