{% extends 'base.html.twig' %}

{% block title %}Mon tableau de bord
{% endblock %}

{% block body %}
	{# Fil d'arianne #}
	<nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
		<button type="button" class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb">Voir le fil d&#39;arianne</button>

		<div class="fr-collapse" id="breadcrumb">
			<ol class="fr-breadcrumb__list">
				<li>
					<a class="fr-breadcrumb__link" id="segment-0" href="/">Accueil</a>
				</li>
				<li>
					<a class="fr-breadcrumb__link" id="segment-1" aria-current="page" href="/election/dashboard">Tableau de bord</a>
				</li>
			</ol>
		</div>
	</nav>
	{# Fin fil d'arianne #}

	<h2 class="fr-mt-2w">
		Mon tableau de bord
	</h2>

	<p class="fr-text--sm fr-mb-1w">
		Retrouvez, sur cette page, les différente élections que vous ou votre unité avez créées.
		<br>
		Vous pourrez ainsi vous en servir de modèle, les cloner ou les adapter selon vos besoins.
		<br>
		C'est aussi dans cet espace que vous pourrez inscrire les candidats ou autoriser les utilisateurs à candidater.
	</p>

	<main>

		<h3>Élections créées par des membres de mon unité:</h3>

		<div class="fr-grid-row fr-grid-row--gutters">

			{% for election in elections %}

				<div class="fr-col-sm-6 fr-col-md-4 fr-col-lg-4">

					<div class="fr-tile fr-enlarge-link" id="tile-4">
						<div class="fr-tile__body">
							<div class="fr-tile__content">
								<h3 class="fr-tile__title">
									<a href="[URL - à modifier]">{{ election.title }}</a>
								</h3>
								<p class="fr-tile__desc">{{ election.explaination }}</p>
								<p class="fr-tile__detail">
									Créée par&nbsp;
									{{ election.user.title }}
								</p>

								<div class="fr-tile__start">
									<p class="fr-badge fr-badge--purple-glycine">Votes ouverts du
										{{ election.startDate | date('d/m/Y') }}
										au
										{{ election.endDate | date('d/m/Y') }}</p>
								</div>
							</div>
						</div>
						<div class="fr-tile__header">
							<div class="fr-tile__pictogram">
								<svg aria-hidden="true" class="fr-artwork" viewbox="0 0 80 80" width="80px" height="80px">
									<use class="fr-artwork-decorative" href="{{ asset('artwork/pictograms/buildings/city-hall.svg') }}#artwork-decorative"></use>
									<use class="fr-artwork-minor" href="{{ asset('artwork/pictograms/buildings/city-hall.svg') }}#artwork-minor"></use>
									<use class="fr-artwork-major" href="{{ asset('artwork/pictograms/buildings/city-hall.svg') }}#artwork-major"></use>
								</svg>
							</div>
						</div>
					</div>

					{%endfor%}

				</div>

			</main>

		{% endblock %}
