{% extends 'base.html.twig' %}

{% block title %}Mon tableau de bord
{% endblock %}

{% block body %}
	{# Fil d'arianne #}
	<nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
		<button type="button" class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb">Voir le fil d&#39;arianne</button>

		<div class="fr-collapse" id="breadcrumb">
			<ol class="fr-breadcrumb__list">
				<li>
					<a class="fr-breadcrumb__link" id="segment-0" href="{{ path('app_index') }}">Accueil</a>
				</li>
				<li>
					<a class="fr-breadcrumb__link" id="segment-1" aria-current="page" href="{{ path('app_election_dashboard') }}">Tableau de bord des élections</a>
				</li>
			</ol>
		</div>
	</nav>
	{# Fin fil d'arianne #}

	<h2 class="fr-mt-2w">
		Mon tableau de bord
	</h2>

	<p class="fr-text--sm fr-mb-1w">
		Retrouvez, sur cette page, les différente élections que vous ou votre unité avez créées.
		<br>
		Vous pourrez ainsi vous en servir de modèle en les clonant, les modifier ou les adapter selon vos besoins.
		<br>
		C'est aussi dans cet espace que vous pourrez inscrire les candidats ou autoriser les utilisateurs à candidater.
	</p>

	<main>

		<h3>Élections créées au sein de mon unité:</h3>

		<a href="{{ path('app_election_prepare', {action: 'create', election_id: '0'} )}}" target="_self" class="fr-link fr-icon-add-line fr-link--icon-left fr-mt-2w">Créer une nouvelle élection</a>

		<div class="fr-grid-row fr-grid-row--gutters fr-mt-4w">

			{% for election in elections %}

				<div class="fr-col-sm-6 fr-col-md-4 fr-col-lg-4 custom-card-container">

					<div class="fr-tile fr-enlarge-link" id="tile-4">
						<div class="fr-tile__body">
							<div class="fr-tile__content">
								<h3 class="fr-tile__title">
									<button type="button" class="custom-tile-menu--opener fr-icon-more-fill" id="election-{{ election.id }}-btn">
										{{ election.title }}
									</button>
								</h3>
								<p class="fr-tile__desc">{{ election.explaination }}</p>
								<p class="fr-tile__detail">
									Créée par&nbsp;
									{{ election.user.title }}

									<ul class="fr-tags-group">
										{% for grp in election.groupesConcernes %}
											<li>
												<p class="fr-tag fr-tag--défaut" id="tag-group-0">{{ grp.shortName }}</p>
											</li>
										{% endfor %}
									</ul>

								</p>

								<div class="fr-tile__start">
									{% set badge_class = election.isNotOpenYet()? 'fr-badge--purple-glycine' : election.isOpen() ? 'fr-badge--success': '' %}
									{% set badge_title = election.isNotOpenYet()? 'Ouverture prochaine' : election.isOpen() ? 'L\'élection est ouverte': 'Élection fermée' %}

									<p class="fr-badge {{ badge_class }}" title="{{ badge_title }}">Votes ouverts du
										{{ election.startDate | date('d/m/Y') }}
										au
										{{ election.endDate | date('d/m/Y') }}
									</p>
							</div>
						</div> <!-- fin .fr-tile__content -->
					</div> <!-- fin .fr-tile__body -->

						<div class="fr-tile__header">
							<div class="fr-tile__pictogram">
								<svg aria-hidden="true" class="fr-artwork" viewbox="0 0 80 80" width="80px" height="80px">
									<use class="fr-artwork-decorative" href="{{ asset('artwork/pictograms/buildings/city-hall.svg') }}#artwork-decorative"></use>
									<use class="fr-artwork-minor" href="{{ asset('artwork/pictograms/buildings/city-hall.svg') }}#artwork-minor"></use>
									<use class="fr-artwork-major" href="{{ asset('artwork/pictograms/buildings/city-hall.svg') }}#artwork-major"></use>
								</svg>
							</div>
						</div>

						<div class="custom-tile-menu">
							<menu class="fr-btns-group">
								<li><button type="button" class="custom-tile-menu--closer fr-btn fr-icon-close-line fr-btn--icon-right fr-btn--tertiary-no-outline">Fermer</button></li>
								<li><a target="_self" href="{{ path('app_election_prepare', {action: 'clone', election_id: election.id} )}}" class="fr-btn fr-btn--tertiary">Cloner cette élection</a></li>
								{% if election.isOpen() != true and election.isClosed() !=true %}
									<li><a target="_self" href="{{ path('app_election_prepare', {action: 'edit', election_id: election.id} )}}" class="fr-btn fr-btn--tertiary">Modifier cette élection</a></li>
								{% endif %}
								{% if election.isNotOpenYet() %}
									<li><a target="_self" href="{{ path('app_election_candidats', {election_id: election.id} )}}" class="fr-btn fr-btn--tertiary">Gérer les candidats</a></li>
								{% elseif election.isClosed() %}
									<li>
										<a target="_self" href="{{ path('app_stats', {election_id: election.id} )}}" class="fr-btn fr-btn--tertiary">Afficher les résultats</a>
									</li>
								{% endif %}
								<li><button target="_self" type="button" data-fr-opened="false" aria-controls="fr-modal--share-link-{{ election.id }}" class="fr-btn fr-btn--tertiary">Partager cette élection</button></li>
								<li><a target="_self" href="{{ path('app_election_prepare', {action: 'cancel', election_id: election.id} )}}" class="custom-link--icon fr-link">Annuler cette élection</a></li>
							</menu>
						</div>

					</div> <!-- fin .fr-tile -->
					
				</div> <!-- fin .fr-col -->

				{# MODALE DE PARTAGE #}
				<dialog aria-labelledby="fr-modal--share-link-{{ election.id }}-title" id="fr-modal--share-link-{{ election.id }}" class="fr-modal" role="dialog" data-fr-concealing-backdrop="false">
					<div class="fr-container fr-container--fluid fr-container-md">
						<div class="fr-grid-row fr-grid-row--center">
							<div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
								<div class="fr-modal__body">
									<div class="fr-modal__header">
										<button class="fr-btn--close fr-btn" aria-controls="fr-modal--share-link-{{ election.id }}">
											Fermer
										</button>
									</div>
									<div class="fr-modal__content">
										<h1 id="fr-modal--share-link-{{ election.id }}-title" class="fr-modal__title">
											<span class="fr-icon-arrow-right-line fr-icon--lg"></span>
											Partager cette élection
										</h1>
										<p>
											Partagez le lien suivant avec les personnes concernées par cette élection afin qu'elles puissent y participer.
											<div class="qr-ctnr">
												<figure>
													<img	height="100"	src="{{ qr_code_url(election.shareLink) }}" />
													<figcaption>
														{{ election.shareLink }}&nbsp;<button type="button" id="copy-link-to-clipboard" data-link="{{election.shareLink}}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M6.9998 6V3C6.9998 2.44772 7.44752 2 7.9998 2H19.9998C20.5521 2 20.9998 2.44772 20.9998 3V17C20.9998 17.5523 20.5521 18 19.9998 18H16.9998V20.9991C16.9998 21.5519 16.5499 22 15.993 22H4.00666C3.45059 22 3 21.5554 3 20.9991L3.0026 7.00087C3.0027 6.44811 3.45264 6 4.00942 6H6.9998ZM5.00242 8L5.00019 20H14.9998V8H5.00242ZM8.9998 6H16.9998V16H18.9998V4H8.9998V6Z"></path></svg></button>
													</figcaption>
												</figure>
											</div>
										</p>
									</div>
									<div class="fr-modal__footer">
										<div class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
											<button type="reset" class="fr-btn--close fr-btn fr-icon-checkbox-circle-line fr-btn--icon-left fr-btn--secondary" aria-controls="fr-modal--share-link-{{ election.id }}">
												Fermer
											</button>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</dialog>

			{% else %}

									<div class="fr-notice fr-notice--info">
										<div class="fr-container">
											<div class="fr-notice__body">
												<p>
													<span class="fr-notice__title">Vous n'avez pas encore créé d'élection.</span>
													<a href="{{ path('app_election_prepare', {action: 'create', election_id: '0'} )}}" target="_self" class="fr-notice__link">C'est le moment de s'y mettre!</a>
												</p>
											</div>
										</div>

									{% endfor %}

								</div>

							</main>

						{% endblock %}
