<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<title>
			{% block title %}{% endblock %}
			-
			{{ app_name | raw }}
			-
			{{ app_tagline }}
		</title>

		{# FAVICON #}
		<link
		rel="apple-touch-icon" href="{{ asset('favicons/apple-touch-icon.png') }}">

		<!-- 180×180 -->
		<link rel="icon" href="{{ asset('favicons/favicon.svg') }}" type="image/svg+xml">
		<link
		rel="shortcut icon" href="{{ asset('favicons/favicon.ico') }}" type="image/x-icon">

		<!-- 32×32 -->
		<link rel="manifest" href="{{ asset('favicons/manifest.webmanifest') }}" crossorigin="use-credentials">

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>

	<body
		class="container">

		{# HEADER #}

		<header role="banner" class="fr-header fr-header hide-s hide-m">
			<div class="fr-header__body">
				<div class="fr-container">
					<div class="fr-header__body-row">
						<div class="fr-header__brand fr-enlarge-link">
							<div class="fr-header__brand-top">
								<div class="fr-header__logo">
									<a href="{{ path('app_index') }}" title="Accueil - {{ app_name | raw }} - {{ app_tagline }}">
										<p class="fr-logo">
											Gendarmerie
											<br/>
											Nationale
										</p>
									</a>
								</div>
								<div class="fr-header__navbar">
									<button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-491" id="button-492" title="Menu">
										Menu
									</button>
								</div>
							</div>
							<div class="fr-header__service">
								<a href="{{ path('app_index') }}" title="Accueil - {{ app_name | raw }} - {{ app_tagline }}">
									<p class="fr-header__service-title">
										{{ app_name | raw }}
									</p>
								</a>
								<p class="fr-header__service-tagline">
									{{ app_slug }}
								</p>
							</div>
						</div>

						<div class="fr-header__tools">
							<div class="fr-header__tools-links">
								<ul class="fr-btns-group">
									<li>

										{% if user is defined and user.userId %}
											<a class="fr-btn fr-icon-logout-box-r-line" href="{{ path('app_logout') }}" title="Se déconnecter">
												<span class="login">{{user.title}}&nbsp;- Déconnexion</span>.
											</a>
										{% else %}
											<a class="fr-btn fr-icon-logout-box-r-line" href="{{ path('app_login') }}" title="Se connecter">
												Connectez-vous pour utiliser l'application.
											</a>
										{% endif %}

									</li>
								</ul>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="fr-header__menu fr-modal" id="modal-491" aria-labelledby="button-492">
				<div class="fr-container">
					<button class="fr-btn--close fr-btn" aria-controls="modal-491" title="Fermer">
						Fermer
					</button>
					<div class="fr-header__menu-links"></div>
					<nav class="fr-nav" role="navigation" aria-label="Menu principal">
						<ul class="fr-nav__list">
							<li class="fr-nav__item">
								<a class="fr-nav__link" aria-current="{{ app.request.pathinfo == '/' ? 'true' : 'false' }}" href="{{ path('app_index')}}" target="_self">
									Accueil
								</a>
							</li>
							<li class="fr-nav__item">
								<a class="fr-nav__link" aria-current="{{ app.request.pathinfo starts with '/election' ? 'true' : 'false' }}" href="{{ path('app_election_dashboard') }}" target="_self">
									Tableau de bord
								</a>
							</li>
							<li class="fr-nav__item">
								<a class="fr-nav__link" aria-current="{{ app.request.pathinfo starts with '/stats' ? 'true' : 'false' }}" href="{{ path('app_stats_index') }}" target="_self">
									Affichage des résultats
								</a>
							</li>
							<li class="fr-nav__item">
								<a class="fr-nav__link" aria-current="{{ app.request.pathinfo == '/index/verify' ? 'true' : 'false' }}" href="{{ path('app_verify') }}" target="_self">
									Vérification de vote
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</header>

		{# BODY #}
		<div class="fr-container fr-mt-2w"> {% block body %}{% endblock %}
			</div>

			{# FOOTER #}
			<footer class="fr-footer fr-mt-4w" role="contentinfo" id="footer">
				<div class="fr-container">
					<div class="fr-footer__body">
						<div class="fr-footer__brand fr-enlarge-link">
							<a id="brand-link" title="Retour à l'accueil du site - Eleksyon - République Française" href="{{ path('app_index')}}">
								<p class="fr-logo">
									{{ app_name | raw }}
								</p>
							</a>
						</div>
						<div class="fr-footer__content">
							<p class="fr-footer__content-desc">
								Ce site a été créé par votre SOLC Saint-Claude et votre DSOLC Baie-Mahault d'après une idée du major Régis TONDEUR.
								<br>
								<br>Son utilisation est libre. Nous vous rappelons que vous pouvez créer des sondages de toute sorte sur
								<a target="_blank" href="https://planif-mgmsic.interieur.rie.gouv.fr" class="fr-footer__content-link">le site officiel dédié</a>
								.</p>
							<ul class="fr-footer__content-list">
								<li class="fr-footer__content-item">
									<a title="info.gouv.fr - nouvelle fenêtre" id="footer__content-link-0" href="https://info.gouv.fr" target="_blank" rel="noopener external" class="fr-footer__content-link">info.gouv.fr</a>
								</li>
								<li class="fr-footer__content-item">
									<a title="service-public.fr - nouvelle fenêtre" id="footer__content-link-1" href="https://service-public.fr" target="_blank" rel="noopener external" class="fr-footer__content-link">service-public.fr</a>
								</li>
								<li class="fr-footer__content-item">
									<a title="legifrance.gouv.fr - nouvelle fenêtre" id="footer__content-link-2" href="https://legifrance.gouv.fr" target="_blank" rel="noopener external" class="fr-footer__content-link">legifrance.gouv.fr</a>
								</li>
								<li class="fr-footer__content-item">
									<a title="data.gouv.fr - nouvelle fenêtre" id="footer__content-link-3" href="https://data.gouv.fr" target="_blank" rel="noopener external" class="fr-footer__content-link">data.gouv.fr</a>
								</li>
							</ul>
						</div>
					</div>
					<div
						class="fr-footer__bottom">
						{# <ul class="fr-footer__bottom-list">
																																																																			<li class="fr-footer__bottom-item">
																																																																				<a id="footer__bottom-link-4" href="#" class="fr-footer__bottom-link">Plan du site</a>
																																																																			</li>
																																																																			<li class="fr-footer__bottom-item">
																																																																				<a id="footer__bottom-link-5" href="#" class="fr-footer__bottom-link">Accessibilité : partiellement conforme</a>
																																																																			</li>
																																																																			<li class="fr-footer__bottom-item">
																																																																				<a id="footer__bottom-link-6" href="#" class="fr-footer__bottom-link">Mentions légales</a>
																																																																			</li>
																																																																			<li class="fr-footer__bottom-item">
																																																																				<a id="footer__bottom-link-7" href="#" class="fr-footer__bottom-link">Données personnelles</a>
																																																																			</li>
																																																																			<li class="fr-footer__bottom-item">
																																																																				<a id="footer__bottom-link-8" href="#" class="fr-footer__bottom-link">Gestion des cookies</a>
																																																																			</li>
																																																																		</ul> #}
						<div class="fr-footer__bottom-copy">
							<p>Sauf mention explicite de propriété intellectuelle détenue par des tiers, les contenus de ce site sont proposés sous
								<a href="https://github.com/etalab/licence-ouverte/blob/master/LO.md" target="_blank" rel="noopener external" title="Licence etalab - nouvelle fenêtre">licence etalab-2.0</a>
							</p>
						</div>
					</div>
				</div>
			</footer>

		</body>
	</html>
