<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<title>
			{% block title %}{% endblock %}
			-
			{{ app_name | raw }}
			-
			{{ app_tagline }}
		</title>

		{# FAVICON #}
		<link
		rel="apple-touch-icon" href="{{ asset('favicons/apple-touch-icon.png') }}">

		<!-- 180×180 -->
		<link rel="icon" href="{{ asset('favicons/favicon.svg') }}" type="image/svg+xml">
		<link
		rel="shortcut icon" href="{{ asset('favicons/favicon.ico') }}" type="image/x-icon">

		<!-- 32×32 -->
		<link rel="manifest" href="{{ asset('favicons/manifest.webmanifest') }}" crossorigin="use-credentials">

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>

	<body
		class="container">

		{# HEADER #}

		<header role="banner" class="fr-header fr-header hide-s hide-m">
			<div class="fr-header__body">
				<div class="fr-container">
					<div class="fr-header__body-row">
						<div class="fr-header__brand fr-enlarge-link">
							<div class="fr-header__brand-top">
								<div class="fr-header__logo">
									<a href="/" title="Accueil - {{ app_name | raw }} - {{ app_tagline }}">
										<p class="fr-logo">
											Gendarmerie
											<br/>
											Nationale
										</p>
									</a>
								</div>
								<div class="fr-header__navbar">
									<button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-491" id="button-492" title="Menu">
										Menu
									</button>
								</div>
							</div>
							<div class="fr-header__service">
								<a href="/" title="Accueil - {{ app_name | raw }} - {{ app_tagline }}">
									<p class="fr-header__service-title">
										{{ app_name | raw }}
									</p>
								</a>
								<p class="fr-header__service-tagline">
									{{ app_slug }}
								</p>
							</div>
						</div>

						<div class="fr-header__tools">
							<div class="fr-header__tools-links">
								<ul class="fr-btns-group">
									<li>

										{% if user is defined and user.userId %}
											<a class="fr-btn fr-icon-logout-box-r-line" href="/logout" title="Se déconnecter">
												<span class="login">{{user.title}}&nbsp;- Déconnexion</span>.
											</a>
										{% else %}
											<a class="fr-btn fr-icon-logout-box-r-line" href="/login" title="Se connecter">
												Connectez-vous pour utiliser l'application.
											</a>
										{% endif %}

									</li>
								</ul>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="fr-header__menu fr-modal" id="modal-491" aria-labelledby="button-492">
				<div class="fr-container">
					<button class="fr-btn--close fr-btn" aria-controls="modal-491" title="Fermer">
						Fermer
					</button>
					<div class="fr-header__menu-links"></div>
					<nav class="fr-nav" role="navigation" aria-label="Menu principal">
						<ul class="fr-nav__list">
							<li class="fr-nav__item">
								<a class="fr-nav__link" aria-current="{{ app.request.pathinfo == '/' ? 'true' : 'false' }}" href="/" target="_self">
									Accueil
								</a>
							</li>
							<li class="fr-nav__item">
								<a class="fr-nav__link" aria-current="{{ app.request.pathinfo starts with '/election' ? 'true' : 'false' }}" href="/election/dashboard" target="_self">
									Tableau de bord
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</header>

		{# BODY #}
		<div class="fr-container fr-mt-2w"> {% block body %}{% endblock %}
			</div>

			{# FOOTER #}


		</body>
	</html>
