{% extends 'base.html.twig' %}

{% block title %}Résultats de l'élection
{% endblock %}

{% block body %}
	{# Fil d'arianne #}
	<nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
		<button type="button" class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb">Voir le fil d&#39;arianne</button>

		<div class="fr-collapse" id="breadcrumb">
			<ol class="fr-breadcrumb__list">
				<li>
					<a class="fr-breadcrumb__link" id="segment-0" href="/">Accueil</a>
				</li>
				<li>
					<a class="fr-breadcrumb__link" aria-current="page" id="segment-1" href="/">Résultats de l'élection</a>
				</li>
			</ol>
		</div>
	</nav>
	{# Fin fil d'arianne #}

	<h2 class="fr-mt-2w">
		Résultats de l'élection
	</h2>

	<main id="stats-page" class="stats-page">

		<div class="fr-grid-row fr-grid-row--gutters fr-mt-4w">

			{% if election is not null %}

				<div class="fr-col-sm-12 fr-col-md-5 fr-col-lg-5 fr-col-xl-4 custom-card-container">

					<h3 class="fr-h4 center">Caractéristiques</h3>

					<div class="fr-tile fr-enlarge-link" id="tile-4">
						<div class="fr-tile__body">
							<div class="fr-tile__content">
								<h3 class="fr-tile__title">
									<button type="button" class="custom-tile-menu--opener{# fr-icon-more-fill#}" id="election-{{ election.id }}-btn">
										{{ election.title }}
									</button>
								</h3>
								<p class="fr-tile__desc">{{ election.explaination }}</p>
								<p class="fr-tile__detail">
									Créée par&nbsp;
									{{ election.user.title }}

									<ul class="fr-tags-group">
										{% for grp in election.groupesConcernes %}
											<li>
												<p class="fr-tag fr-tag--défaut" id="tag-group-0">{{ grp.shortName }}</p>
											</li>
										{% endfor %}
									</ul>

								</p>

							</div>
							<!-- fin .fr-tile__content -->
						</div>
						<!-- fin .fr-tile__body -->

						<div class="fr-tile__header">
							<div class="fr-tile__pictogram">
								<svg aria-hidden="true" class="fr-artwork" viewbox="0 0 80 80" width="80px" height="80px">
									<use class="fr-artwork-decorative" href="{{ asset('artwork/pictograms/buildings/city-hall.svg') }}#artwork-decorative"></use>
									<use class="fr-artwork-minor" href="{{ asset('artwork/pictograms/buildings/city-hall.svg') }}#artwork-minor"></use>
									<use class="fr-artwork-major" href="{{ asset('artwork/pictograms/buildings/city-hall.svg') }}#artwork-major"></use>
								</svg>
							</div>
						</div>

					</div>
					<!-- fin .fr-tile -->

				</div>
				<!-- fin .fr-col -->

				<div class="fr-col-sm-12 fr-col-md-7 fr-col-lg-7 fr-col-xl-8 custom-card-container">

					<div class="fr-grid-row fr-container">

						<h3 class="fr-h4 center">Résultats</h3>

						<!-- Taux de participation -->
						<div class="stats-section">
							<h4 class="fr-h6">Candidat élu</h4>
							<div class="participation">
								BLANC
							</div>
						</div>

						<!-- Taux de participation -->
						<div class="stats-section">
							<h4 class="fr-h6">Taux de participation</h4>
							<div class="participation" id="participationRate">
								{{participationRate}}% ({{voterCount}}
								votants sur
								{{invitedCount}}
								invités)
							</div>
						</div>

						<!-- Répartition des votes -->
						<div class="stats-section">
							<h4 class="fr-h6">Répartition des votes par candidat</h4>
							<canvas id="voteDistributionChart"></canvas>
						</div>

						<!-- Participation par heure -->
						<div class="stats-section">
							<h4 class="fr-h6">Participation par journée</h4>
							<canvas id="dailyParticipationChart"></canvas>
						</div>


					</div>
					<!-- fin .fr-col -->

				{% else %}

					<div class="fr-notice fr-notice--info">
						<div class="fr-container">
							<div class="fr-notice__body">
								<p>
									<span class="fr-notice__title">Aucune élection n'a été trouvée avec les caractéristiques demandées.</span>
									<a href="/election/dashboard" target="_self" class="fr-notice__link">Accédez à cette page depuis le tableau de bord!</a>
								</p>
							</div>
						</div>
					</div>

				{% endif %}

			</div>

		</main>
	{% endblock %}
